<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>User List</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.12.0/css/all.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{../css/user.css}">
    </head>
    <body>
    <div th:replace="fragments/header :: header">&nbsp;</div>
    <div th:switch="${userSearchForm}" class="container py-5">
        <div class="row">
            <div class="col-lg-10 mx-auto bg-white">
            	<form action="#" th:action="@{/users(name=${userSearchForm.name})}" th:object="${userSearchForm}">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
                        </div>
                        <div class="form-group col-md-6">
                        	<input type="submit" class="btn btn-primary" value="Search">
                        </div>
                    </div>
                </form>
			</div>
		</div>    
        <div class="row">
            <div class="col-lg-10 mx-auto bg-white rounded shadow">
            	<div class="float-left mb-2 mt-2"><h5>
            		User List</h5>
            	</div>
            	<div class="float-right mb-2 mt-2">
					<a th:href="@{/user/registration}" class="btn btn-primary"><i class="fas fa-user-plus"></i>&nbsp;Add</a>
				</div>
                <h2 th:case="null">No users yet!</h2>
                <div th:case="*">
                    <div class="table-responsive">
	                    <table class="table table-fixed table-striped table-hover">
	                        <thead>
	                            <tr>
	                            	<th scope="col">#</th>
	                                <th scope="col">User Name</th>
	                                <th scope="col">Email</th>
	                                <th scope="col">Action</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr th:each="user, iterator : ${userSearchForm.result.content}">
	                            	<th scope="row" th:text="${iterator.index + 1}"></th>
	                                <td th:text="${user.name}"></td>
	                                <td th:text="${user.email}"></td>
	                                <td>
	                                <a th:href="@{/user/edit/{id}(id=${user.id})}" class="btn btn-primary mr-3"><i class="fas fa-user-edit"></i></a>
	                                <a data-toggle="modal" th:attr="data-target='#modal-warning'+${user.id }" href="#" class="btn btn-danger"><i class="fas fa-user-times"></i></a>
                                	<!-- Modal -->
									<div class="modal fade" th:id="modal-warning+${user.id }" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
									  <div class="modal-dialog modal-dialog-centered" role="document">
									    <div class="modal-content">
									      <div class="modal-header">
									        <h5 class="modal-title" id="exampleModalLongTitle">Delete Confirm</h5>
									        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									          <span aria-hidden="true">&times;</span>
									        </button>
									      </div>
									      <div class="modal-body">
									        Are you sure?
									      </div>
									      <div class="modal-footer">
									        <a href="#" role="button" aria-pressed="true" class="btn btn-secondary" data-dismiss="modal">Close</a>
									        <a th:href="@{/user/delete/{id}(id=${user.id})}" class="btn btn-danger" href="#">Delete</a>
									      </div>
									    </div>
									  </div>
									</div>
	                                </td>
	                            </tr>
	                        </tbody>
	                    </table>
						<nav aria-label="Pagination" th:if="${userSearchForm.result.totalPages gt 0}">
						    <ul class="pagination justify-content-center font-weight-medium">
						        <li class="page-item" th:classappend="${userSearchForm.result.number eq 0} ? 'disabled'">
						            <a class="page-link svg-icon"
						               th:href="@{/users(name='', size=${userSearchForm.result.size}, page=${userSearchForm.result.number lt 2 ? 1 : userSearchForm.result.number})}"
						               aria-label="Previous"
						               title="Previous Page" rel="tooltip">
						                <span aria-hidden="true" data-feather="chevrons-left"></span>
						            </a>
						        </li>
						        <li class="page-item" th:classappend="${i eq userSearchForm.result.number + 1} ? 'active'"
						            th:each="i : ${#numbers.sequence( userSearchForm.result.number + 1, userSearchForm.result.totalPages > 10 + userSearchForm.result.number ? userSearchForm.result.number + 10 : userSearchForm.result.totalPages, 1)}">
						            <a class="page-link" th:href="@{/users(name='', size=${userSearchForm.result.size}, page=${i})}" th:text="${i}"
						               th:title="${'Page '+ i}"
						               rel="tooltip"></a>
						        </li>
						        <li class="page-item disabled" th:if="${userSearchForm.result.number + 10 < userSearchForm.result.totalPages}">
						            <a class="page-link svg-icon" href="#">
						                <span data-feather="more-horizontal"></span>
						            </a>
						        </li>
						        <li class="page-item" th:classappend="${userSearchForm.result.number + 1 eq userSearchForm.result.totalPages} ? 'disabled'">
						            <a class="page-link svg-icon" th:href="@{/users(name='', size=${userSearchForm.result.size}, page=${userSearchForm.result.number + 2})}"
						               aria-label="Next"
						               title="Next Page" rel="tooltip">
						                <span aria-hidden="true" data-feather="chevrons-right"></span>
						            </a>
						        </li>
						    </ul>
						</nav>
	                  </div>
                </div>      
            </div>
        </div>
    </div>
	<!-- Java script -->
    <script type="text/javascript" th:src="@{/webjars/jquery/2.2.4/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

    </body>
</html>