<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>User</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.12.0/css/all.css}" />
    </head>
    <body>
    <div th:replace="fragments/header :: header">&nbsp;</div>
    <div class="container py-5">
    	<div class="row">
    	    <div class="col-lg-7 mx-auto bg-white rounded shadow">
				<h5 class="mt-2">Update User</h5>
		        <!-- Form Controls: Simple Forms -->
		        <div class="row mb-5">
					<div class="col-md-12">
					    <form action="#" th:action="@{/user/update/{id}(id=${updateForm.id})}" th:object="${updateForm}" method="post">
		                    <div class="row">
		                        <div class="form-group col-md-6">
		                            <label for="name" class="col-form-label">Name</label>
		                            <input autofocus type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
		                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
		                        </div>
		                    </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="passwordId" class="col-form-label">Input new password if you forgot it.</label>
                                    <input type="password" th:field="*{password}" class="form-control" id="passwordId" placeholder="Password">
                                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
                                </div>
                            </div>
		                    <div class="row">
		                        <div class="col-md-6 mt-3">
		                        	<a th:href="@{/users}" class="btn btn-secondary" href="#">Back</a>
		                            <input type="submit" class="btn btn-primary" value="Update">
		                        </div>
		                    </div>    
		                </form>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Java script -->
    <script type="text/javascript" th:src="@{/webjars/jquery/2.2.4/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

    </body>
</html>