<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{plate.title}"></title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.12.0/css/all.css}" />
		<link rel="stylesheet" href="https://unpkg.com/shards-ui@latest/dist/css/shards.min.css">
    </head>
    <body>
    <div th:replace="fragments/header :: header">&nbsp;</div>
    <div class="example col-lg-8 col-md-10 ml-auto mr-auto">
		<h5>Vehicle Registration Plate</h5>

        <!-- Form Controls: Simple Forms -->
        <div class="row mb-5">
			<div class="col-md-12">
                 <form action="#" th:action="@{/plate/create}" th:object="${plateForm}" method="post">
                 <div class="row">
                 	<div class="col-md-5 mb-3">
	                    <label for="form1-state">Province</label>
	                    <select th:field="*{provinceCode}" class="custom-select" id="form1-state">
	                      <option th:each="province : ${plateForm.provinceList}" th:value="${province.code}" th:text="${province.name}"
      th:selected="${province.code==provinceCode}"></option>
	                    </select>
                  </div>
                 </div>
                 <div class="row">
                   <div class="col-md-5 mb-3">
    					<label for="exampleFormControlTextarea1">Plates</label>
    					<textarea th:field="*{plates}" class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
  					</div>
                 </div>
                 <div class="row">
                 	<div class="col-md-5 mb-3">
                 		<div class="custom-control custom-checkbox d-block my-2">
                    		<input name="published" th:field="*{published}" type="checkbox" class="custom-control-input" id="customCheck1">
                    		<label class="custom-control-label" for="customCheck1">Pushlised</label>
                  		</div>
                 	</div>
                 </div>
                   <div class="row">
                       <div class="col-md-5">
                           <input type="submit" class="btn btn-primary" value="Add">
                       </div>
                   </div>    
                 </form>
			</div>
		</div>
	</div>

	<!-- Java script -->
    <script type="text/javascript" th:src="@{/webjars/jquery/2.2.4/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
	<script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
	
    </body>
</html>